.container {
  margin: 50px 0;
}

.container .card {
  margin: 0 3% 2% 3%;
}

.infected {
  border-bottom: 10px solid rgb(0, 0, 255);
}

.recovered {
  border-bottom: 10px solid rgb(10, 187, 10);
}

.deaths {
  border-bottom: 10px solid rgb(255, 0, 0);
}

.container .cardLabel {
  text-transform: capitalize;
  font-size: 1.5rem;
}

.infected .cardLabel {
  color: rgb(0, 0, 255);
}

.recovered .cardLabel {
  color: rgb(10, 187, 10);
}

.deaths .cardLabel {
  color: rgb(255, 0, 0);
}